html {
	scroll-behavior: smooth;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	background: #f0f0f0;
	font-family: Arial, sans-serif;
	margin: 0;
	text-align: center;
	color: #333;
}

header {
	background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 20px;
}

header h1 {
	margin: 0;
}

nav a {
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-wight: bold;
}

nav a:hover {
	text-decoration: underline;
}

main {
	flex: 1;
	padding: 20px;
}

section {
	scroll-margin-top: 80px;
	padding: 50px 20px;
	text-align: center;
}

.main-image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px auto;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background: linear-gradient(to left,#4facfe ,#00f2fe );
	background-size: 200% 100%;
	background-position: right bottom;
	transition: background-position 0.4s ease;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	font-size: 18px;
	font-family: Arial, sans-serif;
}

.btn:hover {
	background-position: left bottom;
}

footer {
	background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}



